
@{
    ViewData["Title"] = "Index";
}
@model ExpenseListViewModel

<h1> this will be expense</h1>
<h2>Index</h2>

<form action="/Expense/Index" method="post">
    <input type="text" name="expenseName" placeholder="Expense name" />
    <input type="submit" name="name" value="Submit" />
</form>

<ul>
    @foreach (var t in Model.Expenses)
    {
        <li>@t</li>
    }
</ul>
