@model PagerViewModel


<span id="pagerLinks">
    @for (int i = 0; i < Model.TotalCount / 10; i++)
    {
        <a data-ajax="true"
           data-ajax-mode="replace"
           data-ajax-update="#@Model.UpdateTarget"
           href='@Url.Action(Model.ActionName, Model.ControllerName, Model.ActionViewModel)'>
            @(1 + i)
        </a>
    }
</span>

@section Scripts
    {
    <script src="~/../"></script>
    <script src="~/js/pager.js"></script>
}